.heading {
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.ramen-recipe {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  text-decoration: none;
  color: #ff0000;
}
